#main-header {
  position: fixed;
  top: 0;
  max-width: 1200px;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
}
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(251, 250, 253);
  padding: 10px 0;
  
}
.headercontent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.logocontainer {
  height: 50px;
  width: 160px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-right: 20px;
}

.headertext h3 {
  color: rgb(18, 17, 17);
}
.headermenu{
  margin-top: 10px;
}
.navlist {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.nav-item {
  margin: 0;
  padding: 0;
}
.footer {
  background-color: rgb(161, 123, 161);;
  color: rgb(53, 34, 53);;
  padding: 20px;
  text-align: center;
}